* {
    font-family: Helvetica;
    color: seashell;
}

p {
    font-size: 22px;
}

a {
    font-size: 22px;
    padding-right: 5px;
}

html {
    background-color: black;
}

/* navigation section */
nav {
    height: 69px;
    border-bottom: 1px solid seashell;
}

nav img {
    height: 50px;
    margin-left: 2%;
}

.nav-links {
    float: right;
    margin-right: 2%;
    padding-top: 10px;
}

/* header and mission section */
header {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1pi15nn*_ga*MTA5OTYzNDUzNC4xNjY1NzAwNDQz*_ga_3LRZM6TM9L*MTY2OTkzNTg5MS42OC4xLjE2Njk5MzkzNjMuNTcuMC4w");
    background-size: cover;
    height: 700px;
    margin-left: 40px;
    margin-right: 40px;
    position: relative;
}

.mission {
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    background-color: black;
}

/* tea of the month section */
.tea {
   max-width: 100%;
   margin-left: 5%;
   margin-right: 5%;
}

.tea-header {
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flavor img {
    height: 200px;
    width: 300px;
}

.flavor p {
    text-align: center;
    padding-top: 10px;
}

/* locations section */
.location-container {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
    max-width: 100%;
    height: 500px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    text-align: center;
  }

  .location-title {
    text-align: center;
    position: absolute;
    margin-left: 45%;
    margin-top: 15px;
  }

  .address {
    text-align: center;
    width: 300px;
    height: 200px;
    opacity: 1;
    display: inline-block;
    justify-content: center;
    margin-top: 8%;
    margin-left: 2%;
    margin-right: 2%;
    background-color: black;
  }

/* footer section */
.address {
    width: 300px;
    opacity: 1;
}

.contact {
    text-align: center;
    height: 200px;
}

.copyright {
    margin-left: 20px;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    .nav-links {
        padding-top: 20px;
    }

    .header {
        height: auto;
    }

    p, a {
        text-align: center;
        font-size: 14px;
    }

    .location-container {
        height: 750px;
    }

    .address {
        width: 200px;
        height: 200px;
        padding-top: 15px;
    }

    .contact {
        padding-top: 25px;
    }
}